:root {
    --color-primary-text: #333;
    --color-secondary-text: #444;
    --color-white: #ffffff;
    --color-lighter-gray: #f6f6f6;
    --color-light-gray: #c6c6c6;
    --color-mid-gray: #ccc;
    --color-dark-gray: #444;
    --color-darker-gray: #15171a;
    --color-black: #000000;
    --color-dark-green: #125440;
    --color-light-blue: #b6e4ff;
    --color-medium-blue: #1470ad;
    --color-dark-blue: #054381;
    --color-yellow: #F9DC5C;
    --color-red: #D00000;
    --color-lavender: #FF84E8;
    --logo-font: "Sarina Regular", sans-serif;
    --gh-font-head: Cheltenam, serif;
    --font-bod: "georgia", serif;
    --font-sans: JosefinSansMedium, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-serif: Lora, serif; /* stylelint-disable-line value-keyword-case */
    --font-mono: "DM Mono", Consolas, Monaco, Liberation Mono, Lucida Console, monospace; /* stylelint-disable-line value-keyword-case */
    --head-nav-gap: 2.8rem;
    --h1-size: 4.6rem;
    --gap: 3.6rem;
    --header-spacing: 80px;
    --content-font-size: 2.1rem;
}