/* Primary button custom styles */
/* ---------------------------------------------------------- */

.gh-btn {
    border-radius: 1px;
    background-color: #ffffff00;
    color: var(--color-dark-blue);
}