/* Footer desktop customizations */

.gh-foot {
    border-top: 2px solid var(--color-dark-blue);
    margin-left: var(--gap);
    margin-right: var(--gap);
    margin-top: 100px;
}

.gh-foot-inner {
    font-family: var(--font-mono);
}