@import "../vars.css";

body {
    font-family: var(--font-bod, var(--font-serif));
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-primary-text);
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--color-dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--gh-font-head, var(--font-sans));
    line-height: 1;
    color: var(--color-dark-blue);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

hr {
    background-color: var(--color-dark-blue);
}