@import "../vars.css";

/* Header desktop custom styles */
/* ---------------------------------------------------------- */

.gh-head-logo {
    font-weight: 400;
}

.gh-head-members {
    gap: 45px;
}

.gh-head-btn.gh-btn {
    font-size: inherit;
    font-weight: 400;
}